@import url('https://fonts.googleapis.com/css?family=Carter+One|Nothing+You+Could+Do');

#wholesite {
	border: 1px solid white;
	width: 100%;
}

header {
	background-color: #D3D3D3;
	text-align: center;
	border: 10px solid #D3D3D3;
	height: 100vh;
}

.background1 {
	background-color: #D3D3D3;
	text-align: center;
	border: 10px solid #D3D3D3;
}

nav {
	display: inline-block;
	vertical-align: top;
	padding: 24px;
}

.background2 {
	background-color: #A9A9A9;
	text-align: center;	
	border: 10px solid #A9A9A9;
}

h1 {
	color: black;
	font-family:'Carter One';
}

h3 {
	color: black;
	font-family:'Carter One';
}

p {
	font-family: 'Nothing You Could Do';
	font-weight: 700;
}

#slogan {
	font-style: italic;
	font-size: 1.5em; /*24px*/
	font-family: 'Nothing You Could Do';
	font-weight: 700;
}

ul {
	font-family: 'Nothing You Could Do';
	font-weight: 800;
	padding: 0;
	list-style-type: none;
}


#cherry-tomatoes-image {
	width: 20%;
}

.large-image {
	width: 20%;
	padding: .5em;
}

.small-image {
	width: 25%;
}

#squash-casserole img {
	padding-top: 30px;
}

#broiled-tomatoes img {
	padding-top: 0px;
}

article {
	max-width: 600px;
	margin: 0 auto;
}

.recipe-image {
	width: 20%;
	
}

#recipes > div {
	max-width: 600px;
	margin: 0 auto;
}

#recipes ul a {
	display: block;
}
#mark-recipes {
	border: 1px solid #D3D3D3;
	padding: 20px;
	float: left;
	width: 40%;
}

#val-recipes {
	border: 1px solid #D3D3D3;
	padding: 20px;
	float: right;
	width: 40%;
}

.ingredients {
	display: inline-block;
	vertical-align: top;
	padding: 15px;
}


#instructions {
	margin-left: auto;
    margin-right: auto;
    clear:both;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}




@media only screen and (max-width: 510px) {

	h1 {
		width: 60%;
		padding-left: 100px;
	}

@media only screen and (max-width: 486px) {

	h1 {
		width: 60%;
		padding-left: 125px;
	}
	#disc {
		width: 50%;
		padding-left: 90px;
	}

	header img {
		padding-top: 40px;
	}

	.large-image {
		width: 60%;
	}

	#mark-recipes {
		width: 100%;
		padding: 0px;
	}

	#val-recipes {
		width: 100%;
		padding: 0px;
	}

	#squash-casserole img {
		width: 50%;
	}
	
	#broiled-tomatoes img {
		width: 50%;
	}

	#about-me img {
		width: 60%;
	}

}
	



